[submodule "Jetstream/Signals"]
	path = Jetstream/Signals
	url = https://github.com/artman/Signals.git
[submodule "Jetstream/starscream"]
	path = Jetstream/starscream
	url = https://github.com/daltoniam/starscream.git
